<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/06dade098b.js" crossorigin="anonymous"></script>
    <title>Új termék hozzáadása</title>
</head>
<body>
  <div class="navbar">
    <a href="{{ url_for('index') }}" class="link">Vissza a főoldalra <i class="fa-solid fa-house"></i></a>
    
 </div>
  <div class="heading">
    <h1>Új termék hozzáadása</h1>
  </div>
    <form action="{{ url_for('add_products') }}" method="POST">
      <div class="input-wrapper">
        <input class="input" type="text" name="name" id="name" required><br>
        <label class="label" for="name">Név:</label>
      </div>

      <div class="input-wrapper">
        <input class="input" type="text" name="price" id="price" required><br>
        <label class="label" for="price">Ár:</label> 
      </div>

      <div class="input-wrapper">
        <input class="input" type="text" name="category" id="category" required><br>
        <label class="label" for="category">Kategória:</label>
      </div>


      <div class="submit_button">
        <button type="submit" id="submit-btn">Hozzáadás</button>
      </div>
        
    </form>

    
    <br>
    
</body>
</html>
