<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Főoldal</title>
</head>
<body>
    <h1>Üdvözöllek!</h1>
    <img src="{{ url_for('static', filename='images/shop.jpg') }}" alt="Növények képe" width="500">
    <p><a href="{{ url_for('add') }}">Új termékek hozzáadása!</a></p>

    <table>
        <thead>
            <tr>
                <th>Név</th>
                <th>Ár</th>
                <th>Kategória</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
