<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Webshop Főoldal</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="{{ url_for('add_products') }}" class="link">Új termékek hozzáadása</a></li>
        </ul>
      </nav>
    <h1>Aktuális termékeink</h1>
    <img src="{{ url_for('static', filename='images/shop.jpg') }}" width="500">
    <table>
        <thead>
            <tr>
                <th>Név</th>
                <th>Ár</th>
                <th>Kategória</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
